
  @import url('https://fonts.googleapis.com/css2?family=Iceland&family=Orbitron:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,800&family=Iceland&family=Orbitron:wght@500&display=swap');
  
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Iceland', cursive;
  }

  body{
    background: #f5f5f5
  }


  li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*cards----------------------------*/


.M-table{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    width: 100%;
    padding: 20px;

}


.grid{
  height:23px;
  position:relative;
  bottom:4px;
}
.signbutton{
  background-color: #4885ed;
  color: #fff;
  border:none;
  border-radius:3px;
  padding:7px 10px;
  position:relative;
  bottom:7px;
  font-weight:bold;
}
.logo{
  margin-top:170px;
  margin-bottom:25px;
}
.logo img{
  width: 150px;
}

.logos{
  margin: 20px;

}

.logos img{
 
  width: 70px;
}
.cbs{
  padding: 30px 20px 20px;
}
.cb{
  padding: 10px 20px 0 40px;
}
.cbsk{

  padding: 20px 20px 0 40px;
}
.whatif{
  color: #707070;
  border: 1px solid #b4b4b4;
  background-color: white;
  padding: 40px;
  border-radius: 30px;
  margin: 30px;
}
.bars{
  width:575px;
  border-radius:30px;
  border:1px solid #b4b4b4 ; 
  height:47px;
  margin: 30px;
  /* #dcdcdc */
}
.bars:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bars:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbars{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  padding-left: 20px;
  padding-right: 10px;
  color: #707070;
  margin-left: 27px;
}

.voices{
  height: 27px;
  position:relative;
  top:8px;
  left:10px;
}



.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #b4b4b4 ; 
  /* #dcdcdc */
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  padding-left: 20px;
  padding-right: 10px;
  color: #707070;
}
.voice{
  height: 27px;
  position:relative;
  top:8px;
  left:10px;
}

.bars button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.buttons{
  margin-top:30px;
}
.button{
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}
.button:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}
.button:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}


.gloki{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

}




.Table-1,.Table-2, .Table-3{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}
/* Table*/




  .Table-con{
    padding: 15px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 10px;
  }

  .ORP{
    font-size: 30px;
    color: #006f98;
  }


  .ORPS:hover{
    color: #0298cf;
  }
/*
  
  .Edits,.Dlts {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
    color: #ffffff;
}
.Edits{
    background-color: #0298cf;
}
.Dlts{
    background-color: #f80000;
}

.Cnt2{
    display: grid;
    grid-template-columns: 1.3fr 1fr .8fr;
    grid-gap: 25px;
}*/


.DY {
  color: #6d6d6d;
}


/*modal-----------------------------------------------*/
.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
    z-index: 1; 

  }
  
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__content {
    border-radius: 5px;
    position:  relative; 
    min-width: 42.2em;
    width: 25%;
    background: #fff;
    padding: 5em 1em 0;
    bottom: 2em;
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.162);

  }
  
  .modal__close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 50px;
  }


    .M-TITTL{
        font-size: 20px;
        font-weight: 600;
        margin: 17px 25px;
        color: rgb(231, 231, 231);
    }

.Top-Form{

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #3a5782;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 55px;     
}

/*modal-----------------------------------------------*/
/*modal*/

.field label{
    font-size: 14px;
    font-weight: 500;
    color: #6d6d6d;
}
.field input{
    outline: none;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    border-radius: 4px;
    height: 38px;
    margin: 8px 0;
    padding: 0 15px;
    border: 1px solid #aaa;
    width: 100%;
    font-size: 17px;

}
.field textarea{
    outline: none;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    border-radius: 4px;
    height: 135px;
    margin: 8px 0;
    padding: 15px;
    border: 1px solid #aaa;
    width: 100%;
    resize: none;
    font-size: 17px;
}
.field{
    padding: 12px;
}
 ::placeholder{
     opacity: 0.50;
 }
 .BUTNS-AD{
    padding: 30px 12 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
 }
 
 .Add-ITM,  .Add-ITM-C{
  background: rgb(79, 230, 147);
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 13px;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
}
.Add-ITM-C{
  background: #f97777;
}
.Add-ITM span,  .Add-ITM-C span{
   margin-left: 20px;
}

 /*modal*/

 .Add-P{
  background: #1683aa;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px #1683aa solid;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  height: 43px;
  font-size: 16px;

}
.Add-P i {
margin-right: 10px;
}
.Add-P:hover{
  background: #1fa2d2;
  border: 2px #1fa2d2 solid;
}


.popcon{
  margin: 30px;
}
.post-list{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  text-align: center;
  color: #707070;
  border: 1px solid #b4b4b4;
  background-color: white;
  padding: 20px;
  border-radius:30px;
  cursor: pointer;
}

.EXSepator{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.field-I{
    margin: 8px 0 0 0;

}

@media (max-width: 800px) {

  
  .gloki{
    display: grid;
    justify-content: center;
  }



  .logos img{
    display: none;
  }

  .bars{

    max-width: 600px;
  
    border:1px solid #b4b4b4 ; 
    height:auto;
    margin: 20px 0 20px 0;
    
    /* #dcdcdc */
  }

  .searchbars{

    padding-left: 20px;
    padding-right: 10px;
    border:none;
    width: 500px;
    font-size:16px;
    outline: none;

    color: #707070;
    margin-left: 20px;
  }
}

 /*modal*/  